
body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051 ;
    position: fixed;
}

.logo{
    color: #fff;
    font-size: 38px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

main{
    width: 100%;
    height: 100%;
}

.menu{
    float: left;
    padding-left: 402px;
    
}

.menu li{
    float: left;
    line-height: 60px;
    color:#fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards; 
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
    
}


.main{
    width: 100%;
    height: 100% ;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
    
}
.title__conteiner {
    float: left;
    margin: 432px 0px 0px 404px;
    color:#2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards; 
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s; 
}

.title__conteiner h1{
    font-size: 60px;
    font-weight: bold;
}

.title__conteiner h4 {
    margin-top: 40px;
    font-size: 22px;
    color:#79818d;
}

.title__conteiner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.menu li a{
    transition: all 0.3s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: white;
    
    
}

.menu li a:hover{
    color: #ec8804;
    
    
}

.menu li a:active{
    transform: scale(1.1);
}

.title__conteiner input{
    transition: all 0.5s;
    transform: scale(1);
}

.title__conteiner input:hover{
    background: #344051;
    color: white;    
}

.title__conteiner input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
    
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 404px;
    }
}

.aboutme {
    float: center;
    margin: 110px 0px 95px 0px;
    color:#2c384a;
    text-align: center;
}


.aboutme h2{
    font-size: 33px;
    font-weight: 500;
    margin: 0px 0px 95px 0px;
}

.aboutme h4{
    font-size: 20px;
    color: #79818d;
    margin: 25px 0px 43px 0px; 
}

.aboutme input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#6d7682;
    font-size: 13px;
    padding: 0px 16px;
}

.aboutme input{
    transition: all 0.5s;
    transform: scale(1);
}
.aboutme input:hover{
    background: #344051;
    color: white;    
}

.aboutme input:active{
    transform: scale(1.1);
}

.skills {
    float: right;
    color:#2c384a;
    text-align: center;
    width: 100%;
}

.skill{
    width: 100%;
    height: 520px;
    background: url(../img/bgfon.jpg) center/cover no-repeat;
    
}

.skills h2{
    text-align: center;
    font-size: 33px;
    font-weight:500px;
    margin: 102.5px 860px 141px 860px;

}

.menuskills{
    float: center;
    padding-left: 300px;
    
}

.menuskills li{
    float: left;
    margin-top: 50px;
    color: #ec8804;
    line-height: 50px;
    margin-right: 50px;
    font-size: 16px;
    text-transform: uppercase;
}

.menuskills p {
    color: black;
    font-size: 16px;
    line-height: 22px;
}

.kays {
    float: center;
    margin: 110px 0px 95px 0px;
    color:#2c384a;
    text-align: center;
}

.kays h2{
    font-size: 33px;
    font-weight: normal;
    margin: 0px 0px 95px 0px;
}

.center{
    display: block;
    margin-top: 44px;
    margin-bottom: 10px;
    width: auto;
}

.cs{
    float: left;
    width: 600px;
    margin-top: -300px;
    
}
.cs h3{
    font-size: 29px;
}


.go li{
    padding: 4px;

    margin: 0px 0px 0px 388px;
}

.go input{
    height: 40px;
    text-align: center;
    border: 2px;
    background: #63b5ae;
    border-radius: 5px;
    color:#fff;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 388px;
    padding: 0px 16px;
}

.wh{
    float: right;
    margin-top: -300px;
}

.hw h3{ 
    font-size: 20px;
    padding: 2px;
}

.hw p{
    line-height: 20px;
}

.hw{
    margin: 0px 500px 0px 0px;
}

.summ{
    float: center;
    width: 100%;
}
.summ h2{
    text-align: center;
    font-size: 45px;
    font-weight: normal;
}

.calculation{
    float: left;
    width: 100%;
    margin-left: 495px;
}

.calculation select{
    width: 890px;
    height: 56px;
    padding: 10px;
    background: #eeeeee;
}

.calculation h3{
    font-size: 29px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.hr-line{
    margin: 20px 0;
    padding: 0;
    height: 0;
    width: 890px;
    border: none;
    border-top: 1px solid #1d1d1d;
}

.calculation h4{
    font-size: 20px;
    font-weight: bold;
    padding: 10px; 
}
.st{
    float: right;
    color:#2c384a;
    text-align: center;
    width: 100%;
    background: url(../img/bgphoto.jpg) center/cover no-repeat;
    margin-top: 155px;
    height: 500px;
    margin-bottom: 100px;
}


.st h2 {
    text-align: center;
    font-size: 33px;
    font-weight: normal;
    margin-top: 105px;
}

.menustat {
    float: center;
    padding-left: 496px;
    
}

.menustat li {
    float: left;
    margin-top: 200px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    margin-right: 50px;
    text-transform: uppercase;
}

.menustat p {
    color: black;
    font-weight: 500;
    line-height: 100px;
}

.feedback {
    float: center;
    margin-top: 50px;
    color:#2c384a;
    text-align: center;
    margin-bottom: 100px;
}

.feedback h2{
    font-size: 33px;
    font-weight: 500;
    margin: 0px 0px 95px 0px;
}

.feedback p{
    font-size: 16px;
    color: black;
    margin: 25px 0px 43px 0px; 
}

.contact{
    float: right;
    width: 100%;
    text-align: center;
    background: url(../img/bgcont.jpg) center/cover no-repeat;
    height: 810px;
}

.contact h2{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin-top: 105px;
    margin-left: 50px;
    color: white;
}

.contact h4{
    font-size: 16px;
    color: white;
    margin: 25px 0px 0px 0px
}

.contactmenu{
    float: center;
    padding-left: 655px;
}

.contactmenu li{
    float: left;
    margin-top: 100px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-right: 50px;
    text-transform: uppercase;
}

.forma {
    float: right;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin-right: 295px;
    margin-top: 42px;
}

.forma h3{
    color: white;
    font-size: 22px;
    font-weight: 500;
}

input[type=text]{
    padding: 10px;
    width: 350px;
    margin-right: 15px;
}

input[type=email]{
    padding: 10px;
    width: 350px;
    margin-left: 15px;
}

textarea{
    width: 733px;
    resize: vertical;
    padding: 15px;
    border: 0;
    height: 92px;
}

input[type=reset]{
    display: block;
    padding: 10px;
    color: white;
    margin-left: 550px;
    width: 125px;
    height: 45px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    font-size: 20px;
}


footer{
    width: 100%;
    height: 60px;
    background: #344051 ;
    position: relative;
}

.footer{
    text-align: center;
}

.footer h5{
    color: white;
    position: absolute;
    top: 50%;
    left: 830px;
    

    
}