
body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051 ;
    position: fixed;
}

.logo{
    color: #fff;
    font-size: 38px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

main{
    width: 100%;
    height: 100%;
}

.menu{
    float: left;
    padding-left: 402px;
    
}

.menu li{
    float: left;
    line-height: 60px;
    color:#fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards; 
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
    
}


.main{
    width: 100%;
    height: 100% ;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
    
}
.title__conteiner {
    float: left;
    margin: 432px 0px 0px 404px;
    color:#2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards; 
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s; 
}

.title__conteiner h1{
    font-size: 60px;
    font-weight: bold;
}

.title__conteiner h4 {
    margin-top: 40px;
    font-size: 22px;
    color:#79818d;
}

.title__conteiner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.menu li a{
    transition: all 0.3s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: white;
    
    
}

.menu li a:hover{
    color: #ec8804;
    
    
}

.menu li a:active{
    transform: scale(1.1);
}

.title__conteiner input{
    transition: all 0.5s;
    transform: scale(1);
}

.title__conteiner input:hover{
    background: #344051;
    color: white;    
}

.title__conteiner input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
    
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 404px;
    }
}

.aboutme {
    float: center;
    margin: 110px 0px 95px 0px;
    color:#2c384a;
    text-align: center;
}


.aboutme h2{
    font-size: 30px;
    font-weight: normal;
    margin: 0px 0px 95px 0px;
}

.aboutme h4{
    font-size: 22px;
    color: #79818d;
    margin: 25px 0px 43px 0px; 
}

.aboutme input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#6d7682;
    font-size: 13px;
    padding: 0px 16px;
}

.aboutme input{
    transition: all 0.5s;
    transform: scale(1);
}
.aboutme input:hover{
    background: #344051;
    color: white;    
}

.aboutme input:active{
    transform: scale(1.1);
}

.skills {
    float: right;
    color:#2c384a;
    text-align: center;
}

.skill{
    width: 100%;
    height: 520px;
    background: url(../img/bgfon.jpg) center/cover no-repeat;
    
}

.skills h2{
    font-size: 30px;
    font-weight: normal;
    margin: 102.5px 871px 141px 871px;
    float: center;
    text-align: center;
}

.menuskills{
    float: center;
    padding-left: 300px;
    
}

.menuskills li{
    float: left;
    margin-top: 50px;
    color: #ec8804;
    line-height: 50px;
    margin-right: 50px;
    font-size: 16px;
    text-transform: uppercase;
}



.menuskills p {
    color: black;
    font-size: 16px;
    line-height: 22px;
}

.kay{
    
}
.kays {
    float: center;
    margin: 110px 0px 95px 0px;
    color:#2c384a;
    text-align: center;
}

.kays h2{
    font-size: 30px;
    font-weight: normal;
    margin: 0px 0px 95px 0px;
}

.center{
    display: block;
    margin-top: 44px;
    margin-bottom: 10px;
    width: auto;
}
/*
.kays h3{
    float: left;
    font-size: 30px;
    margin-top: ;
}

.kays{
    width: 100%;
    height: 100%;
    background: url(../img/keys.png) 50% no-repeat;
}
*/
